{% extends "template.html" %}
{% block content %}
   
{% for message in get_flashed_messages() %}
<div class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert">
      &times;
    </button>
    {{ message }}
</div>
{% endfor %}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Welcome {{username}}</h1>
            <div id="App" />
            <script src={{url_for('static', filename='frontend/public/index.js')}} type="text/javascript"></script>

                {% for post in posts %}
                <div class="previousPosts">

                    <h3><a href={{url_for('profileUserName', user=post[0])}}>{{post[0]}}</a></h3>
                    <h2>{{post[1]}}</h2>
                    <p>{{post[2]}}</p>
                    <p>{{post[3]}}</p> 
                    <p>{{post[5]}}</p>
                </div>
                {% endfor %}
                               
            
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">    
            
        </div>
    </div>        
</div>

       



{% endblock %}
