{% extends "template.html" %}
{% block content %}
   
{% for message in get_flashed_messages() %}
<div class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert">
      &times;
    </button>
    {{ message }}
</div>
{% endfor %}

<div class="container">

    <div class="row">    
        <div class="status-box">
            <div class="col-sm-6">
                <h1>{{username}}</h1>
                    <a href={{url_for('profile')}}><img class="profilePic" src="{{img_url}}"></a>
                    <h5>About me</h5>
                        <p>{{bio}}</p>
                        <h5>I enjoy</h5>
                        <p>{{interests}}</p>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="status-box">

            <button id="slider" class="btn btn-success">Create Post!</button>
            
            <div id="groupForm">

            <form  method="POST" action="" enctype="multipart/form-data">
                {{ form.hidden_tag() }} {{ form.csrf_token() }}
            
              <label for="postTitle">Post Title!</label>
              {% if request.method == 'POST' %}
              {% for error in form.postTitle.errors %}
              <span class="errors">[{{ error }}]</span>
              {% endfor %}
              {% endif %}
              {{ form.postTitle(class="form-control") }}
          
              <label for="postContent">Content!</label>
              {% if request.method == 'POST' %}
              {% for error in form.postContent.errors %}
              <span class="errors">[{{ error }}]</span>
              {% endfor %}
              {% endif %}
              {{ form.postContent(class="form-control") }}            
              
          
              <label for="category">Category for post</label>
              {% if request.method == 'POST' %}
              {% for error in form.category.errors %}
              <span class="errors">[{{ error }}]</span>
              {% endfor %}
              {% endif %}
              {{form.category(class="form-control")}}

              <label for="imageUpload">Add a photo?</label>
              {% if request.method == 'POST' %}
              {% for error in form.upload.errors %}
              <span class="errors">[{{ error }}]</span>
              {% endfor %}
              {% endif %}
              {{ form.upload(class="form-control btn btn-primary") }}
        
              <label for="submit">Let us see it!</label>
              {% if request.method == 'POST' %}
              {% for error in form.submit.errors %}
              <span class="errors">[{{ error }}]</span>
              {% endfor %}
              {% endif %}
              {{ form.submit(class="form-control btn btn-success") }}
              </form>
            </div>
              <div class="previousPosts">
                <h2>{{postTitle}}</h2>
                <p>{{postContent}}</p>
                <p>{{category}}</p>                
            </div>
        </div>

    </div>
</div>
</div>

{% endblock %}
